<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogToConsole="false"
      internalLogToConsoleError="false"
      internalLogIncludeTimestamp="true"
      internalLogLevel="Warn"
      internalLogFile="./logs/nlog-internal.log">
  <extensions>
    <add assembly="Thuria.Zitidar.Logging"/>
  </extensions>
  <targets>
    <target xsi:type="ColoredConsole" name="Console" encoding="utf-8"
            layout="[${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}] [${level}] ${strip-quotes:inner=${message}} ${strip-quotes:inner=${exception:format=tostring}}"
            useDefaultRowHighlightingRules="true"
            detectConsoleAvailable="false">
    </target>
    <target name="file" xsi:type="File"
            archiveFileName="./logs/archive_log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="2097152"
            archiveDateFormat="yyyyMMdd"
            fileName="./logs/logfile-${shortdate}-${level}.txt"
            maxArchiveFiles="7">
      <layout xsi:type="CsvLayout">
        <!-- CSV Options -->
        <quoting>All</quoting>
        <quoteChar>"</quoteChar>
        <withHeader>false</withHeader>
        <customColumnDelimiter>String</customColumnDelimiter>
        <delimiter>Comma</delimiter>
        <column layout="${machinename}" name="Server-Name"/>
        <column layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}" name="Server-Date"/>
        <column layout="${gdc:item=service-name}" name="Service-Name"/>
        <column layout="${level}" name="Level"/>
        <column layout="${strip-quotes:inner=${message}}" name="Log-Message"/>
        <column layout="${strip-quotes:inner=${exception:format=tostring}}" name="Exception"/>
        <column layout="${callsite:className=true:fileName=true:methodName=true:cleanNamesOfAnonymousDelegates=true}" name="Call-Site"/>
        <!-- <column layout="${thread-context}" name="Log-Context"/> -->
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file, Console"  />
  </rules>
</nlog>
